// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upvote.ui {
  font-size: 1.4em;
}

// New Source
#source-add {
  $input-width: 400px;

  input {
    width: $input-width;
  }

  .add.large.icon {
    margin-top: 1em;
  }

  .tt-dropdown-menu {
    width: $input-width;
    margin-top: 5px;
    padding: 5px 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .tt-suggestion {
    display: block;
    padding: 3px 10px;
    &.tt-cursor {
      background: #eee;
    }
  }
}
