// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$input-width: 400px;

.ui.header {
  float:left;
}

// New Source
#source-add {
  float: right;
  padding-top: 20px;

  input {
    width: $input-width;
  }

  .add.large.icon {
    margin: 1em 0 0;
  }

  .tt-dropdown-menu {
    width: $input-width;
    margin-top: 5px;
    padding: 5px 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .tt-suggestion {
    display: block;
    padding: 3px 10px;
    &.tt-cursor {
      background: #eee;
    }
  }
}

// Topic Search
#topic-search {
  input#q {
    width: $input-width;
  }
}
